.alerte {
  border: 1px solid red;
  margin-bottom: 3px; /* Reduced the margin */
  padding: 3px; /* Reduced the padding */
  background-color: #f8d7da;
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: 0.8em; /* Reduce the font size */
}

.alerte-content {
  display: flex;
  flex: 1;
  flex-direction: row; /* Assure que les éléments sont alignés horizontalement */
  justify-content: flex-start; /* Aligne les éléments au début de l'espace disponible */
  align-items: center; 
}

.alerte-text1,
.alerte-text2,
.alerte-text3 {
  margin-right: 20px; /* Ajoutez cette ligne pour ajouter de l'espace à droite */
}

.alerte-icon {
  font-size: 30px; /* Reduced the font size */
  margin-right: 3px; /* Reduced the margin */
}

.alerte-check {
  font-size: 15px; /* Reduced the font size */
  border: none;
  background: none;
  cursor: pointer;
  right: 25px; /* Add this to position the check button on the right */
}

.alerte-button {
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  padding: 3px 5px; /* Reduced the padding */
  text-decoration: none;
  display: flex;
  align-items: center;
  margin-right: 3px; /* Reduced the margin */
  font-size: 0.8em; /* Reduce the font size */
}
