/* ==========================================================================
Main page styles
========================================================================== */
.hipster {
  display: inline-block;
  width: 100%;
  height: 497px;
  background: url('/content/images/jhipster_family_member_0.svg') no-repeat center top;
  background-size: contain;
}

.patient-card {
  border: 1px solid #ccc; /* Ajoutez une bordure pour séparer les patients */
  padding: 16px; /* Ajoutez un espace interne de 16px autour de chaque patient */
  margin: 8px; /* Ajoutez une marge de 8px autour de chaque patient */
}

.card-red {
  background-color: red;
  color: white;
}

.card-orange {
  background-color: orange;
  color: white;
}

.card-blue {
  background-color: blue;
  color: white;
}
